In [1]:
import pandas as pd 
import numpy as  np

In [2]:
data = pd.read_csv(r'C:\\Users\\HP\\Downloads\\mybooks\\project\\ads-proj\\ad-sales-ml-proj\\data\\WebTransactionsCSV.csv', sep=';', header= 0)

In [3]:
data.head()

,orderId,createdAt,platformId,platformCode,channelId,channelCode,tagCodes,adCode,adGroup,adName,...,adSearchQuery,adProductCode,deviceCategory,total,tax,delivery,revenue,profit,quantity,currencyCode
0,194206,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,mobile,1465,308,141,1335,NaN,4,CZK
1,194243,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,1444,303,116,1338,NaN,5,CZK
2,194247,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,3086,648,116,2934,NaN,2,CZK
3,194255,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,mobile,408,86,116,256,NaN,2,CZK
4,194287,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,13108,2753,116,14072,NaN,14,CZK

In [4]:
unwanted = ["tagCodes", "adCode", "adGroup","adName","adContent", "adSearchQuery", "adProductCode", "tax", "currencyCode", 
            "profit", "platformId", "channelId", "deviceCategory", "orderId" ]

In [5]:
data = data.drop(unwanted, axis = 1)

In [6]:
data['createdAt'] = data['createdAt'].str.replace('T00:00:00', '')

In [7]:
data["createdAt"] = pd.to_datetime(data["createdAt"])

In [8]:
data.head()

   createdAt platformCode channelCode  total  delivery  revenue  quantity
0 2020-01-02       notset      direct   1465       141     1335         4
1 2020-01-02       notset      direct   1444       116     1338         5
2 2020-01-02       notset      direct   3086       116     2934         2
3 2020-01-02       notset      direct    408       116      256         2
4 2020-01-02       notset      direct  13108       116    14072        14

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7918 entries, 0 to 7917
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   createdAt     7918 non-null   datetime64[ns]
 1   platformCode  7918 non-null   object
 2   channelCode   7918 non-null   object
 3   total         7918 non-null   int64
 4   delivery      7918 non-null   int64
 5   revenue       7918 non-null   int64
 6   quantity      7918 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 433.1+ KB

In [10]:
data["platformCode"].value_counts()

AdWords      3147
Silverpop    1817
notset       1704
Sklik         615
RtbHouse      400
ZboziCz       123
HeurekaCz     110
FirmyCz         2
Name: platformCode, dtype: int64

In [11]:
pushedSales = data.loc[(data["platformCode"] != "notset")]

In [12]:
pushedSales = pushedSales.groupby(["createdAt", "platformCode", "channelCode"])["quantity", "total","delivery", "revenue"].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_23060\284122822.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pushedSales = pushedSales.groupby(["createdAt", "platformCode", "channelCode"])["quantity", "total","delivery", "revenue"].sum()

In [13]:
organicSales = data.loc[(data["platformCode"] == "notset")]

In [14]:
organicSales = organicSales.groupby(["createdAt", "platformCode", "channelCode"])["quantity", "total","delivery", "revenue"].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_23060\1699774474.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  organicSales = organicSales.groupby(["createdAt", "platformCode", "channelCode"])["quantity", "total","delivery", "revenue"].sum()

In [15]:
pushedSales.to_csv('../data/pushedSales.csv')

In [16]:
organicSales.to_csv('../data/organicSales.csv')