In [1]:
import pandas as pd 
import numpy as  np

In [2]:
data = pd.read_csv(r'C:\\Users\\HP\\Downloads\\mybooks\\project\\ads-proj\\ad-sales-ml-proj\\data\\WebTransactionsCSV.csv', sep=';', header= 0)

In [3]:
data.head()

,orderId,createdAt,platformId,platformCode,channelId,channelCode,tagCodes,adCode,adGroup,adName,...,adSearchQuery,adProductCode,deviceCategory,total,tax,delivery,revenue,profit,quantity,currencyCode
0,194206,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,mobile,1465,308,141,1335,NaN,4,CZK
1,194243,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,1444,303,116,1338,NaN,5,CZK
2,194247,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,3086,648,116,2934,NaN,2,CZK
3,194255,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,mobile,408,86,116,256,NaN,2,CZK
4,194287,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,13108,2753,116,14072,NaN,14,CZK

In [4]:
unwanted = ["tagCodes", "adCode", "adGroup","adName","adContent", "adSearchQuery", "adProductCode", "tax", "currencyCode", "profit", "platformId", "channelId"]

In [5]:
data = data.drop(unwanted, axis = 1)

In [6]:
data['createdAt'] = data['createdAt'].str.replace('T00:00:00', '')

In [7]:
data["createdAt"] = pd.to_datetime(data["createdAt"])

In [8]:
data.head()

,orderId,createdAt,platformCode,channelCode,deviceCategory,total,delivery,revenue,quantity
0,194206,2020-01-02,notset,direct,mobile,1465,141,1335,4
1,194243,2020-01-02,notset,direct,desktop,1444,116,1338,5
2,194247,2020-01-02,notset,direct,desktop,3086,116,2934,2
3,194255,2020-01-02,notset,direct,mobile,408,116,256,2
4,194287,2020-01-02,notset,direct,desktop,13108,116,14072,14

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7918 entries, 0 to 7917
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderId         7918 non-null   int64
 1   createdAt       7918 non-null   datetime64[ns]
 2   platformCode    7918 non-null   object
 3   channelCode     7918 non-null   object
 4   deviceCategory  7918 non-null   object
 5   total           7918 non-null   int64
 6   delivery        7918 non-null   int64
 7   revenue         7918 non-null   int64
 8   quantity        7918 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 556.9+ KB

In [10]:
data["platformCode"].value_counts()

AdWords      3147
Silverpop    1817
notset       1704
Sklik         615
RtbHouse      400
ZboziCz       123
HeurekaCz     110
FirmyCz         2
Name: platformCode, dtype: int64

In [11]:
pushedSales = data.loc[(data["platformCode"] != "notset")]

In [12]:
organicSales = data.loc[(data["platformCode"] == "notset")]