In [2]:
import pandas as pd   
import numpy as np 
import seaborn as sns  
import matplotlib.pyplot as plt

In [3]:
marketing = pd.read_csv(r'C:\\Users\\HP\\Downloads\\mybooks\\project\\ads-proj\\ad-sales-ml-proj\\data\\marketingData.csv', index_col= 0)

In [4]:
marketing.head()

,periodCode,platformCode,channelCode,marketingInvestment,impressions,clicks,visits,conversions,deliveries
0,20200102,AdWords,adwords_bra,16709,408,266,306,4,4
1,20200102,AdWords,adwords_dsa,3106,370,12,11,0,0
2,20200102,AdWords,adwords_pla,1086892,191564,2609,2667,27,27
3,20200102,AdWords,adwords_rem,76206,24668,386,429,3,3
4,20200102,AdWords,adwords_sea,2908,531,26,36,0,0

In [5]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1814 entries, 0 to 1813
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   periodCode           1814 non-null   int64
 1   platformCode         1814 non-null   object
 2   channelCode          1814 non-null   object
 3   marketingInvestment  1814 non-null   int64
 4   impressions          1814 non-null   int64
 5   clicks               1814 non-null   int64
 6   visits               1814 non-null   int64
 7   conversions          1814 non-null   int64
 8   deliveries           1814 non-null   int64
dtypes: int64(7), object(2)
memory usage: 141.7+ KB

In [6]:
marketing['periodCode'] = marketing['periodCode'].astype(str)

In [7]:
marketing['periodCode'] = pd.to_datetime(marketing['periodCode'], format="%Y-%m-%d")

In [8]:
marketing.head()

,periodCode,platformCode,channelCode,marketingInvestment,impressions,clicks,visits,conversions,deliveries
0,2020-01-02,AdWords,adwords_bra,16709,408,266,306,4,4
1,2020-01-02,AdWords,adwords_dsa,3106,370,12,11,0,0
2,2020-01-02,AdWords,adwords_pla,1086892,191564,2609,2667,27,27
3,2020-01-02,AdWords,adwords_rem,76206,24668,386,429,3,3
4,2020-01-02,AdWords,adwords_sea,2908,531,26,36,0,0

In [9]:
revenue = pd.read_csv(r'C:\\Users\\HP\\Downloads\\mybooks\\project\\ads-proj\\ad-sales-ml-proj\\data\\revenueData.csv', index_col = 0)

In [10]:
revenue.head()

    createdAt platformCode  channelCode  revenue
0  2020-01-02      AdWords  adwords_bra     5581
1  2020-01-02      AdWords  adwords_pla    60605
2  2020-01-02      AdWords  adwords_rem     2681
3  2020-01-02    HeurekaCz      heureka    15131
4  2020-01-02     RtbHouse     rtbhouse     1082

In [13]:
revenue.rename(columns = {'periodCode':'createdAt'}, inplace = True)

In [15]:
revenue.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1061 entries, 0 to 1060
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   createdAt     1061 non-null   object
 1   platformCode  1061 non-null   object
 2   channelCode   1061 non-null   object
 3   revenue       1061 non-null   int64
dtypes: int64(1), object(3)
memory usage: 73.7+ KB

In [18]:
revenue['platformCode'].value_counts()

notset       322
AdWords      245
Sklik        216
Silverpop     84
RtbHouse      81
HeurekaCz     64
ZboziCz       47
FirmyCz        2
Name: platformCode, dtype: int64

In [19]:
marketing['platformCode'].value_counts()

unpaid                        528
AdWords                       376
Sklik                         342
FirmyCz                        84
Silverpop                      84
RtbHouse                       84
ZboziCz                        84
HeurekaCz                      84
Not tracked                    81
FacebookBusinessAdsManager     60
Adform                          4
Bing                            3
Name: platformCode, dtype: int64

In [ ]:
data = marketing.join(revenue, on = ['createdAt', 'platformCode','channelCode'], how = 'outer')